@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

span,
p,
label,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cfcfcf;
}

html,
body {
  height: 100%;
  width: 100%;
}

.navigation_menu_active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #1b1a1f;
  bottom: -1px;
  left: 0;
}

.switch_span_white span {
  background: white !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 10%) !important;
}

.outline-bottom-white {
  outline: 1px solid rgb(255 255 255 / 10%);
}

@layer base {
  :root {
    /* own */
    --bg_primary: 252, 9%, 11%;
    --bg_secondary: 252, 7%, 14%;
    --bg_tertiary: 255, 3%, 23%;
    --main_color: 29, 74%, 42%;

    --sb-track-color: hsl(var(--bg_secondary));
    --sb-thumb-color: hsl(var(--bg_tertiary));
    --sb-size: 7px;
    /* shadcn */
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    /* shadcn */
    --background: var(--bg_secondary);
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: var(--bg_primary);
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: var(--bg_tertiary);
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* shadcn */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
